__pycache__/
*.py[cod]
*.ipynb_checkpoints/
.venv/
venv/
.env
*.pt
*.onnx
*.engine
*.mp4
*.avi
*.mov
*.mkv
/data/raw/images/*
!/data/raw/images/.gitkeep
/data/raw/labels/*
!/data/raw/labels/.gitkeep
/data/processed/images/*
!/data/processed/images/.gitkeep
/data/processed/labels/*
!/data/processed/labels/.gitkeep
/data/splits/*
!/data/splits/.gitkeep
/models/*
!/models/.gitkeep
/outputs/runs/*
!/outputs/runs/.gitkeep
/outputs/tracks/*
!/outputs/tracks/.gitkeep
